
@font-face {
    font-family: kharabich;
    src: url(fonts/Kharabeesh\ Font\ Normal.ttf);
}

@font-face {
    font-family: UbuntuBold;
    src: url(fonts/Ubuntu-B.ttf);
}

@font-face {
    font-family: comicsans;
    src: url(fonts/comicsans.ttf);
}

.body {
    background-color: #1A3636;
}

.charit {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50px;
    background-color: #40534C;
    z-index: 1;
}

.logo {
    position: absolute;
    left: 1%;
    top: 10%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 9px black;

}

.headerbuttons{
    height: 50px;
    font-family: UbuntuBold;
    font-size: 20px;
    background-color: #40534C;
    border: none;
    padding: 10px 15px;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: 70%;
    color: #D6BD98;

}

.headerbuttons:hover {
    background-color: #677D6A;
}

.language{
    width: auto;
    height: 50px;
    color: #D6BD98;
    position: absolute;
    left: 97%;
}

.top{
    margin: auto;
    font-size: 120px;
    font-family: UbuntuBold;
    width: max-content;
    border: 15px solid #677D6A;
    border-radius: 45px;
    box-shadow: 0px 9px 30px black;
    text-shadow: 0px 6px 15px black;
    padding: 20px 40px;

}

.ptop{
    margin: 3px;
    font-size: 20px;
    font-family: comicsans;
    text-shadow: 0px 6px 15px black;
}


.header {
    position: relative;
    left: 0%;
    top: 30%;
    text-align: center;
    z-index: 1;
}

.thetop {
    width: 100%;
    height: 951px;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: black;
    color: #D6BD98;
}

.videoedge {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.videotrailer {
    opacity: 0.5;
    width: auto;
    height: 1200px;
    position: absolute;
    left: -10%;
    top: -10%;
    object-fit: cover;
}


.container {
    position: absolute;
    left: 0%;
    top: 951px;
    width: 100%;
    height: auto;
}

.texts1{

    text-shadow: 0px 6px 15px black;
    position: relative;
    text-align: center;
    font-size: 60px;
    color: #D6BD98;
    font-family: UbuntuBold;
    padding: 10px 0;

}

.texts{
    background-color: #40534C;
    box-shadow: 0px 3px 10px black;
    text-shadow: 0px 2px 5px black;
    position: relative;
    text-align: center;
    color: #D6BD98;
    font-family: UbuntuBold;
    padding: 10px 0;

}

.texts2{
    position: relative;
    color: #D6BD98;
    font-family: UbuntuBold;

}

.texts3 {
    color: #dfa54e;
    font-family: UbuntuBold;
    text-decoration: none;
}

.texts4 {
    color: #dfa54e;
    text-decoration: none;
}

.mores {
    position: absolute;
    margin: -2.6% 97.5%;

}

.image {
    width: 10%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 3px 10px black;


}

.gaps {
    display: flex;
    gap: 22px;

}

.thanks {
    position: relative;
    text-align: center;
    color: #D6BD98;
    font-family: UbuntuBold;
}

.copyright {
    position: absolute;
    top: 0%;
    left: 0.5%;
    width: max-content;
}

.contact{
    position: absolute;
    top: 0%;
    left: 1665px;
    width: max-content;
}

.donate {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 41%;
    top: 3px;
}

.icons{
    position: absolute;
    left: 85%;
    top: 30%;

}

.end {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #40534C;
}